version: "3.9"

services:
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./postgres-prod-data:/var/lib/postgresql
    ports:
      - "${DB_PORT:-5450}:5432"
    restart: unless-stopped

  backend:
    build:
      context: ..
      dockerfile: backend/Dockerfile.prod
    environment:
      SPRING_PROFILES_ACTIVE: prod
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${BACKEND_PORT:-8081}:8080"
    depends_on:
      - db
    restart: unless-stopped
